.header {
  width: 100%;
  height: 80px;
  background-color: rgb(62, 131, 175);
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: antiquewhite;
  padding: 25px 10px;
  font-size: 25px;
}
